include setup.json
include LICENSE.txt
include aiida_quantumespresso/utils/protocols/*.json
include aiida_quantumespresso/calculations/helpers/*.xml
recursive-include aiida_quantumespresso/parsers/parse_xml *.xsd
recursive-include aiida_quantumespresso/workflows/protocols *.yaml
